<%= simple_form_for(@client) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nom, input_html: { class: 'special' }%>
    <%= f.input :prenom, input_html: { class: 'special' } %>
    <%= f.input :tel, input_html: { class: 'special' }%>
    <%= f.input :ville, input_html: { class: 'special' } %>
    <%= f.input :cp,input_html: { class: 'special' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
