<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home" , home_index_path, :class => "active"  %>  </li>
            <li><%= link_to "Produits" , produits_path, :class => "active"  %>  </li>
            <li><%= link_to "Clients" , clients_path, :class => "active"  %>  </li>
            

            
          </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="">test</a></li>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</head>
<body>
<div class="container main_container">
	<%= yield %>
</div>



</body>
</html>
